# --- AeroGuard ---
# --- Python ---
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.ipynb_checkpoints/
# Données et modèles : trop lourds pour GitHub (on garde seulement les .gitkeep)
data/raw/*
data/processed/*
models/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep

# Fichiers de données lourds, où qu'ils soient
*.h5
*.zip