# Calcul et données
numpy>=2.1
pandas>=2.2
pyarrow>=18        # lire et écrire les fichiers Parquet

# Graphiques
matplotlib>=3.11.2

# Notebooks dans VS Code
ipykernel>=6.29

# Tests
pytest>=8.0

scikit-learn>=1.5

h5py>=3.11

xgboost>=2.0

optuna>=3.6

mlflow>=2.14

tensorflow>=2.16

# API
fastapi>=0.115
uvicorn>=0.30
